<div class="grid-x align-center login-form settings-form">
  <div class="cell medium-10 large-8">
    <div class="grid-x align-middle">
      <div class="auto cell">
        <h2>Edit Account</h2>
      </div>
      <div class="shrink cell ">
        <%= link_to "Back", root_path %>
      </div>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: update_admin_settings_path, html: { method: :put }) do |f| %>
      <%= f.input :email, required: true, input_html: { autofocus: true } %>
      <%= f.input :name, input_html: { autofocus: true } %>
      <%= f.input :password, label: "Password <i>(leave blank if you don't want to change it)</i>".html_safe, input_html: { autocomplete: "off", placeholder: @minimum_password_length ? "#{@minimum_password_length} characters minimum" : "" }%>
      <%= f.input :password_confirmation, input_html: { autocomplete: "off", placeholder: @minimum_password_length ? "#{@minimum_password_length} characters minimum" : "" }%>
      <%= f.input :current_password, required: true, label: "Current password <i>(we need your current password to confirm your changes)</i>".html_safe, input_html: { autocomplete: "off" }%>
      <%= f.button :submit, class: "expanded success" %>
    <% end %>
  </div>
</div>