<div class="grid-x align-center">
  <div class="cell medium-10 large-8 login-form">
    <h2>Log in</h2>
    <%= simple_form_for resource, url: session_path(resource_name) do |f| %>
      <%= f.input :email, input_html: { autofocus: true } %>
      <%= f.input :password, input_html: { autocomplete: "off" } %>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.input :remember_me, as: :boolean %>
        </div>
      <% end -%>
      <%= f.submit "Log In", class: "button success expanded" %>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
