<div class="grid-x align-middle">
  <div class="auto cell">
    <h3>Pending To Dos</h3>
  </div>
  <div class="shrink cell ">
    <%= link_to "New Todo", new_todo_path, class: "button" %>
  </div>
</div>

<ul class="pending-todos">
	<% @todos.each do |todo| %>
		<li id="todo-<%= todo.id%>">
			<%= link_to [:done, todo], method: :patch, remote: true, title: "Done", class: "done-link" do %>
				<i class="fa fa-check" aria-hidden="true"></i>
			<% end %>
			<span class="description"><%= todo.description %></span>
			<%= link_to [todo], method: :delete, class: "float-right delete-link" do %>
			 	<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
			<% end %>
		</li>
	<% end %>
</ul>

<br>

<h3>Completed</h3>
<ul class="completed-todos">
	<% @completed_todos.each do |todo| %>
		<li id="todo-<%= todo.id%>">
			<%= link_to [:undo, todo], method: :patch, remote: true, title: "Undo", class: "undo-link" do %>
				<i class="fa fa-undo" aria-hidden="true"></i>
			<% end %>
			<span class="description"><%= todo.description %></span>
			<%= link_to [todo], method: :delete, class: "float-right delete-link" do %>
			 	<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
			<% end %>
		</li>
	<% end %>
</ul>