<%= simple_form_for @post, html: { class: "post-form" } do |f| %>
  <%= f.input :title %>
  <%= f.input :content, label: "Content", as: :hidden, required: true %>
  <div id="toolbar">
	  <select class="ql-font">
	    <option value="serif"></option>
	    <option value="monospace"></option>
	    <option value="arial">Arial</option>
	    <option value="helvetica">Helvetica</option>
	  </select>
	  <!-- Add font size dropdown -->
	  <select class="ql-size">
	    <option value="small"></option>
	    <!-- Note a missing, thus falsy value, is used to reset to default -->
	    <option selected></option>
	    <option value="large"></option>
	    <option value="huge"></option>
	  </select>
	  <select class="ql-color">
			<option selected="selected"></option><option value="#e60000"></option><option value="#ff9900"></option><option value="#ffff00"></option><option value="#008a00"></option><option value="#0066cc"></option><option value="#9933ff"></option><option value="#ffffff"></option><option value="#facccc"></option><option value="#ffebcc"></option><option value="#ffffcc"></option><option value="#cce8cc"></option><option value="#cce0f5"></option><option value="#ebd6ff"></option><option value="#bbbbbb"></option><option value="#f06666"></option><option value="#ffc266"></option><option value="#ffff66"></option><option value="#66b966"></option><option value="#66a3e0"></option><option value="#c285ff"></option><option value="#888888"></option><option value="#a10000"></option><option value="#b26b00"></option><option value="#b2b200"></option><option value="#006100"></option><option value="#0047b2"></option><option value="#6b24b2"></option><option value="#444444"></option><option value="#5c0000"></option><option value="#663d00"></option><option value="#666600"></option><option value="#003700"></option><option value="#002966"></option><option value="#3d1466"></option>
		</select>
		<select class="ql-background">
			<option selected="selected"></option><option value="#e60000"></option><option value="#ff9900"></option><option value="#ffff00"></option><option value="#008a00"></option><option value="#0066cc"></option><option value="#9933ff"></option><option value="#000000"></option><option value="#facccc"></option><option value="#ffebcc"></option><option value="#ffffcc"></option><option value="#cce8cc"></option><option value="#cce0f5"></option><option value="#ebd6ff"></option><option value="#bbbbbb"></option><option value="#f06666"></option><option value="#ffc266"></option><option value="#ffff66"></option><option value="#66b966"></option><option value="#66a3e0"></option><option value="#c285ff"></option><option value="#888888"></option><option value="#a10000"></option><option value="#b26b00"></option><option value="#b2b200"></option><option value="#006100"></option><option value="#0047b2"></option><option value="#6b24b2"></option><option value="#444444"></option><option value="#5c0000"></option><option value="#663d00"></option><option value="#666600"></option><option value="#003700"></option><option value="#002966"></option><option value="#3d1466"></option>
		</select>
	  <button class="ql-bold" title="Bold"></button>
	  <button class="ql-italic" title="Italic"></button>
	  <button class="ql-underline" title="Underline"></button>
	  <button class="ql-strike" title="Strikethrough"></button>
	  <button class="ql-script" value="sub" title="Superscript"></button>
	  <button class="ql-script" value="super" title="Subscript"></button>
	  <button class="ql-list" value="ordered" title="Ordered List"></button>
	  <button class="ql-list" value="bullet" title="Bullet List"></button>
	  <button class="ql-blockquote" title="Blockquote"></button>
	  <button class="ql-code-block" title="Code Block"></button>
	  <button class="ql-align" value="center" title="Align Center"></button>
	  <button class="ql-align" value="right" title="Align Right"></button>
	  <button class="ql-align" value="justify" title="Align Justify"></button>
	  <button class="ql-indent" value="-1" title="Indent Left"></button>
	  <button class="ql-indent" value="+1" title="Indent Right"></button>
	  <button class="ql-link" title="Link"></button>
	  <button class="ql-image" title="Image"></button>
	  <button class="ql-video" title="Video"></button>


	  <button class="ql-clean" title="Clear"></button>
	</div>
  <div id="editor-container">
  	<%= @post.content.html_safe %>
	</div>
  <%= f.button :submit, class: "expanded success" %>
<% end %>



<script>
	var Font = Quill.import('formats/font');
	Font.whitelist = ['arial', 'helvetica'];
	Quill.register(Font, true);

  var quill = new Quill('#editor-container', {
    modules: {
      toolbar: { 
      	container: '#toolbar',
      	handlers: {
      		image: imageHandler
      	}
      }
    },
  	theme: 'snow'
  });

  $(".post-form").submit(function() {
		var content = quill.container.firstChild.innerHTML
		var postContent = $("input[name='post[content]']")
		console.log(content)
		postContent.val(content)
	})


	function imageHandler() {
	  var range = this.quill.getSelection();
	  const editor = this.quill
		const input = document.createElement('input');
	  input.setAttribute('type', 'file');
	  input.setAttribute('accept', 'image/*');
	  input.click();
	  input.onchange = () => {
      const file = input.files[0];

      // file type is only image.
      if (/^image\//.test(file.type)) {
      	const data = new FormData();
	      data.append('file', file);

        $.ajax({
        	url: "/api/images",
        	data: data,
    			cache: false,
    			contentType: false,
    			processData: false,
        	type: "post",
      		dataType: "json",
        	success: function(data, status, jqXHR){
	  				editor.insertEmbed(range.index, 'image', data.url, Quill.sources.USER);
        	}
        })
      } else {
        console.warn('You could only upload images.');
      }
     };
	}
</script>
