<div class="grid-x align-middle">
  <div class="auto cell">
    <div class="grid-x align-middle">
      <div class="shrink cell actions">
        <%= link_to posts_path, class: "first" do %>
          <i class="fa fa-chevron-circle-left fa-lg" aria-hidden="true"></i>
        <% end %>
      </div>
      <div class="auto cell">
        <h2 class="post-title">
          <%= @post.title %>
        </h2>
      </div>
    </div>
  </div>
  <div class="shrink cell">
    <div class="actions">
      <%= link_to edit_post_path(@post), class: "edit-link first" do %>
        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
      <% end %>
      <%= link_to @post, method: :delete, class: "delete-link last", data: { confirm: 'Are you sure?'}  do %>
        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="grid-x align-middle">
  <div class="auto cell">
    <p class="subheader">Posted on <%= @post.created_at.strftime("%A, %d %b %Y") %> by <%= @post.admin&.name %></p>
  </div>
  <div class="shrink cell">
    <div class="actions">
      <% if @post.previous.nil? %>
        Prev
      <% else %>
        <%= link_to "Prev", @post.previous %>
      <% end %>
      |
      <% if @post.next.nil? %>
        Next
      <% else %>
        <%= link_to "Next", @post.next %>
      <% end %>
    </div>
  </div>
</div>

<hr>

<%= @post.content.html_safe %>
