<ul class="vertical menu canvas-menu">
  <li>
    <a class="text-right" aria-label="Close menu" data-close>
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
  </li>
  <li><%= link_to "Home", root_path %></li>
  <% if admin_signed_in? %>
    <li><%= link_to "Todo List", todos_path %></li>
    <li><%= link_to "New Post", new_post_path %></li>
    <li><%= link_to "Settings", admin_settings_path %></li>
    <li><%= link_to "Log Out", destroy_admin_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Log In", new_admin_session_path %></li>
  <% end %>
</ul>
