<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:url"           content="https://seanlovesan.herokuapp.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Our Blog" />
    <meta property="og:description"   content="This is my blog!" />
    <meta property="og:image"         content="https://cdn.pixabay.com/photo/2017/08/30/17/12/waffle-heart-2697904_960_720.jpg" />
    <title><%= content_for?(:title) ? yield(:title) : "Sean & Chui San's Blog" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render "layouts/topbar" %>
    <main>
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="grid-x grid-padding-x align-center">
          <div class="container">
            <% flash.each do |key, msg| %>
              <div class="callout flash <%= key %>"><%= msg %></div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render "layouts/footer" %>
    <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-transition="overlap">
      <%= render "layouts/offcanvas_menu" %>
    </div>
  </body>
</html>

<script type="text/javascript">
  $(function(){
    $(document).foundation();
  })
</script>
