<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Blog" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "layouts/topbar" %>
    <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-transition="overlap">
      <%= render "layouts/offcanvas_menu" %>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
      <%= yield %>
    </div>
  </body>
</html>
