<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Blog" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "layouts/topbar" %>
    <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-transition="overlap">
      <ul class="vertical menu canvas-menu">
        <li>
          <a class="text-right" aria-label="Close menu" data-close>
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>
        </li>
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
      </ul>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
      <%= yield %>
    </div>
  </body>
</html>
